<% layout('./__layout/main.ejs') -%>

<div class = "row">
	<div class = "col-md-12">
		<form action = "/application/saveApp" method = "POST">
			<div class = "form-group">
				<label>Application name</label>
				<input class = "form-control" name = "name" />
			</div>
			<div class = "form-group">
				<button class = "btn btn-md btn-success" type = "submit">Save</button>
			</div>
		</form>
		<hr/>
	</div>
</div>

<div class = "row">
	
	<div class = "col-md-12">
		<table class = "table table-striped">
			<thead>
				<th>Name</th>
				<th>Token</th>
				<th>Logs</th>
				<th>Last access date</th>
			</thead>
			<tbody>
				<% apps.forEach(function(app){ %>
				<tr>
					<td><%- app.name%></td>
					<td><%- app.token%></td>
					<td><%- app.logsTotal%></td>
					<td><%- new Date(app.lastAccessDate)%></td>
				</tr>
				<% }); %>
			</tbody>
		</table>
	</div>
	
	
</div>